<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post if policy(post).show?%></td>
        <td><%= link_to 'Edit', edit_post_path(post) if policy(post).edit?  %> </td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if policy(Post).new? %>
<%= link_to 'New Post', new_post_path %>
<% end %>