<!DOCTYPE html>
<html>
  <head>
    <title>SomeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <div class="navbar">


  <% if user_signed_in? %>
  <%= current_user.email %>
      <%= link_to "Home", root_url %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= link_to "Edit profile", edit_user_registration_path %>


      <% if policy(Department).new? %>
        <%= link_to "Roles", departments_path %>
      <% end %>

      <% if policy(Employee).new? %>
    <%= link_to "Manage Employees", employees_path %>
        <% end %>



      <% if policy(Customer).new? %>
    <%= link_to "Customer Records", customers_path%>
        <%end %>


    <%= link_to "Quotes", quotes_path %>


  <% else %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
    <%= link_to "Vehicle Catalogue", vehicles_path %>
  </div>
    <%= yield %>
  </body>
</html>
